In [1]:
import os
import sys
import pandas as pd
import csv
from statistics import mean

In [2]:
from IPython.display import display
pd.set_option('display.max_columns', None)
pd.options.display.max_seq_items = 2000
#makes display wider
from IPython.core.display import display, HTML
display(HTML("<style>.container {width:90% !important;}</style>"))

In [3]:
sys.path.append("/Users/mariapalafox/Desktop/Toolbox/")
from all_funx import *

In [4]:
os.chdir("/Users/mariapalafox/Box Sync/CODE_DATA/dir_MAPpaper/CADDmapped/BUG_FIX")

# downloaded and checked (19.10.13 BUG ipynb) CADD mapped detected and non detected Cys and Lys

## parsing C and K from detected and not_detected data then save

In [5]:
detected = pd.read_csv("detected_appended.csv")
notdet = pd.read_csv("not_detected_appended.csv")

In [6]:
# add gene name
pathf = "/Users/mariapalafox/Box Sync/CODE_DATA/dir_MAPpaper/R_figures/dynamic_MULTIMAPPING_ENSPids_groupedby_3979ukbids.csv"
genename = pd.read_csv(pathf)
describeMe(genename)

(3979, 15)
Index(['xref', 'v85_protein_stable_id', 'v92_protein_stable_id',
       'v94_protein_stable_id', 'v96_protein_stable_id',
       'v97_protein_stable_id', 'v97_ENSP_count', 'v85_ENSP_count',
       'v92_ENSP_count', 'v94_ENSP_count', 'v96_ENSP_count',
       'dynamic_slope_scores', 'noCanonicalENSP49', 'sameCountENSP',
       'geneNamePrimary'],
      dtype='object')
xref                     0
v85_protein_stable_id    0
v92_protein_stable_id    0
v94_protein_stable_id    0
v96_protein_stable_id    0
v97_protein_stable_id    0
v97_ENSP_count           0
v85_ENSP_count           0
v92_ENSP_count           0
v94_ENSP_count           0
v96_ENSP_count           0
dynamic_slope_scores     0
noCanonicalENSP49        0
sameCountENSP            0
geneNamePrimary          0
dtype: int64

In [7]:
describeMe(detected)
describeMe(notdet)

(106064, 22)
Index(['pos_id19', 'pos_id38', 'aaref', 'aaalt', 'matched_aapos', 'HGVSp_VEP',
       'CADD_phred_hg38', 'matched_UKBID', 'pos_dict', 'matched_target',
       'CADD_phred_hg19', 'CADDdiff_38minus19', 'lost_amino', 'gained_amino',
       'Amino_acids', 'pos_ID', 'Cys_reactivity', 'Cys_react_threshold',
       'Cys_target_label', 'Lys_reactivity', 'Lys_react_threshold',
       'Lys_target_label'],
      dtype='object')
pos_id19                   0
pos_id38                   0
aaref                      0
aaalt                      0
matched_aapos              0
HGVSp_VEP                  0
CADD_phred_hg38            0
matched_UKBID              0
pos_dict                   0
matched_target             0
CADD_phred_hg19            0
CADDdiff_38minus19         0
lost_amino                 0
gained_amino               0
Amino_acids                0
pos_ID                     0
Cys_reactivity         95816
Cys_react_threshold    95816
Cys_target_label       65205
Lys_reactivity         74900
Lys_react_threshold    74900
Lys_target_label       49525
dtype: int64
(1259801, 16)
Index(['pos_id19', 'pos_id38', 'aaref', 'aaalt', 'matched_aapos', 'HGVSp_VEP',
       'CADD_phred_hg38', 'matched_UKBID', 'pos_dict', 'matched_target',
       'CADD_phred_hg19', 'CADDdiff_38minus19', 'lost_amino', 'gained_amino',
       'Amino_acids', 'pos_ID_falseCKtarget'],
      dtype='object')
pos_id19                0
pos_id38                0
aaref                   0
aaalt                   0
matched_aapos           0
HGVSp_VEP               0
CADD_phred_hg38         0
matched_UKBID           0
pos_dict                0
matched_target          0
CADD_phred_hg19         0
CADDdiff_38minus19      0
lost_amino              0
gained_amino            0
Amino_acids             0
pos_ID_falseCKtarget    0
dtype: int64

In [8]:
notdet.head(3)

,pos_id19,pos_id38,aaref,aaalt,matched_aapos,HGVSp_VEP,CADD_phred_hg38,matched_UKBID,pos_dict,matched_target,CADD_phred_hg19,CADDdiff_38minus19,lost_amino,gained_amino,Amino_acids,pos_ID_falseCKtarget
0,10_000093156_C_A,10_000047216_C_A,K,N,392,p.Lys358Asn;p.Lys355Asn;p.Lys392Asn,23.0,Q3ZCM7,"{12: 'C', 239: 'C', 303: 'C', 354: 'C'}",False,22.9,0.1,Lys,Asn,Lys/Asn,Q3ZCM7_K392
1,10_000093156_C_G,10_000047216_C_G,K,N,392,p.Lys358Asn;p.Lys355Asn;p.Lys392Asn,23.1,Q3ZCM7,"{12: 'C', 239: 'C', 303: 'C', 354: 'C'}",False,22.8,0.3,Lys,Asn,Lys/Asn,Q3ZCM7_K392
2,10_000093157_T_A,10_000047217_T_A,K,M,392,p.Lys358Met;p.Lys355Met;p.Lys392Met,23.2,Q3ZCM7,"{12: 'C', 239: 'C', 303: 'C', 354: 'C'}",False,23.2,0.0,Lys,Met,Lys/Met,Q3ZCM7_K392

In [9]:
not2 = notdet[['pos_id19', 'pos_id38', 
       'CADD_phred_hg38', 'matched_UKBID', 'matched_target',
       'CADD_phred_hg19', 'CADDdiff_38minus19', 'lost_amino', 'gained_amino', 'Amino_acids', 'pos_ID_falseCKtarget']].copy()
not2.head(3)

,pos_id19,pos_id38,CADD_phred_hg38,matched_UKBID,matched_target,CADD_phred_hg19,CADDdiff_38minus19,lost_amino,gained_amino,Amino_acids,pos_ID_falseCKtarget
0,10_000093156_C_A,10_000047216_C_A,23.0,Q3ZCM7,False,22.9,0.1,Lys,Asn,Lys/Asn,Q3ZCM7_K392
1,10_000093156_C_G,10_000047216_C_G,23.1,Q3ZCM7,False,22.8,0.3,Lys,Asn,Lys/Asn,Q3ZCM7_K392
2,10_000093157_T_A,10_000047217_T_A,23.2,Q3ZCM7,False,23.2,0.0,Lys,Met,Lys/Met,Q3ZCM7_K392

In [10]:
detected.head(3)

,pos_id19,pos_id38,aaref,aaalt,matched_aapos,HGVSp_VEP,CADD_phred_hg38,matched_UKBID,pos_dict,matched_target,CADD_phred_hg19,CADDdiff_38minus19,lost_amino,gained_amino,Amino_acids,pos_ID,Cys_reactivity,Cys_react_threshold,Cys_target_label,Lys_reactivity,Lys_react_threshold,Lys_target_label
0,10_000093270_A_C,10_000047330_A_C,C,W,354,p.Cys320Trp;p.Cys317Trp;p.Cys354Trp,22.6,Q3ZCM7,"{12: 'C', 239: 'C', 303: 'C', 354: 'C'}",C354,22.30,0.30,Cys,Trp,Cys/Trp,Q3ZCM7_C354,5.37,Low,NaN,NaN,NaN,NaN
1,10_000093271_C_A,10_000047331_C_A,C,F,354,p.Cys320Phe;p.Cys317Phe;p.Cys354Phe,22.6,Q3ZCM7,"{12: 'C', 239: 'C', 303: 'C', 354: 'C'}",C354,21.80,0.80,Cys,Phe,Cys/Phe,Q3ZCM7_C354,5.37,Low,NaN,NaN,NaN,NaN
2,10_000093271_C_G,10_000047331_C_G,C,S,354,p.Cys320Ser;p.Cys317Ser;p.Cys354Ser,22.4,Q3ZCM7,"{12: 'C', 239: 'C', 303: 'C', 354: 'C'}",C354,19.67,2.73,Cys,Ser,Cys/Ser,Q3ZCM7_C354,5.37,Low,NaN,NaN,NaN,NaN

In [11]:
det = detected[['pos_id19', 'pos_id38','CADD_phred_hg38', 'matched_UKBID', 'matched_target',
       'CADD_phred_hg19', 'CADDdiff_38minus19', 'lost_amino', 'gained_amino', 'Amino_acids',
       'pos_ID', 'Cys_reactivity', 'Cys_react_threshold', 'Cys_target_label',
       'Lys_reactivity', 'Lys_react_threshold', 'Lys_target_label']].copy()
det.head(2)

,pos_id19,pos_id38,CADD_phred_hg38,matched_UKBID,matched_target,CADD_phred_hg19,CADDdiff_38minus19,lost_amino,gained_amino,Amino_acids,pos_ID,Cys_reactivity,Cys_react_threshold,Cys_target_label,Lys_reactivity,Lys_react_threshold,Lys_target_label
0,10_000093270_A_C,10_000047330_A_C,22.6,Q3ZCM7,C354,22.3,0.3,Cys,Trp,Cys/Trp,Q3ZCM7_C354,5.37,Low,NaN,NaN,NaN,NaN
1,10_000093271_C_A,10_000047331_C_A,22.6,Q3ZCM7,C354,21.8,0.8,Cys,Phe,Cys/Phe,Q3ZCM7_C354,5.37,Low,NaN,NaN,NaN,NaN

In [12]:
print(det.columns)
print()
print(not2.columns)

Index(['pos_id19', 'pos_id38', 'CADD_phred_hg38', 'matched_UKBID',
       'matched_target', 'CADD_phred_hg19', 'CADDdiff_38minus19', 'lost_amino',
       'gained_amino', 'Amino_acids', 'pos_ID', 'Cys_reactivity',
       'Cys_react_threshold', 'Cys_target_label', 'Lys_reactivity',
       'Lys_react_threshold', 'Lys_target_label'],
      dtype='object')

Index(['pos_id19', 'pos_id38', 'CADD_phred_hg38', 'matched_UKBID',
       'matched_target', 'CADD_phred_hg19', 'CADDdiff_38minus19', 'lost_amino',
       'gained_amino', 'Amino_acids', 'pos_ID_falseCKtarget'],
      dtype='object')

In [13]:
# set up column name for mapping gene name
# matched_UKBID chanign to xref

det.columns = ['pos_id19', 'pos_id38', 'CADD_phred_hg38', 'xref',
       'matched_target', 'CADD_phred_hg19', 'CADDdiff_38minus19', 'lost_amino',
       'gained_amino', 'Amino_acids', 'pos_ID', 'Cys_reactivity',
       'Cys_react_threshold', 'Cys_target_label', 'Lys_reactivity',
       'Lys_react_threshold', 'Lys_target_label']

not2.columns = ['pos_id19', 'pos_id38', 'CADD_phred_hg38', 'xref',
       'matched_target', 'CADD_phred_hg19', 'CADDdiff_38minus19', 'lost_amino',
       'gained_amino', 'Amino_acids', 'pos_ID_falseCKtarget']

In [14]:
# adding gene name primary column
genedic = dict(zip(genename.xref, genename.geneNamePrimary))

det['geneNamePrimary'] = det.xref
det.geneNamePrimary = det.geneNamePrimary.map(genedic)

not2['geneNamePrimary'] = not2.xref
not2.geneNamePrimary = not2.geneNamePrimary.map(genedic)

In [15]:
not2.head(2)

,pos_id19,pos_id38,CADD_phred_hg38,xref,matched_target,CADD_phred_hg19,CADDdiff_38minus19,lost_amino,gained_amino,Amino_acids,pos_ID_falseCKtarget,geneNamePrimary
0,10_000093156_C_A,10_000047216_C_A,23.0,Q3ZCM7,False,22.9,0.1,Lys,Asn,Lys/Asn,Q3ZCM7_K392,TUBB8
1,10_000093156_C_G,10_000047216_C_G,23.1,Q3ZCM7,False,22.8,0.3,Lys,Asn,Lys/Asn,Q3ZCM7_K392,TUBB8

In [16]:
det.head(2)

,pos_id19,pos_id38,CADD_phred_hg38,xref,matched_target,CADD_phred_hg19,CADDdiff_38minus19,lost_amino,gained_amino,Amino_acids,pos_ID,Cys_reactivity,Cys_react_threshold,Cys_target_label,Lys_reactivity,Lys_react_threshold,Lys_target_label,geneNamePrimary
0,10_000093270_A_C,10_000047330_A_C,22.6,Q3ZCM7,C354,22.3,0.3,Cys,Trp,Cys/Trp,Q3ZCM7_C354,5.37,Low,NaN,NaN,NaN,NaN,TUBB8
1,10_000093271_C_A,10_000047331_C_A,22.6,Q3ZCM7,C354,21.8,0.8,Cys,Phe,Cys/Phe,Q3ZCM7_C354,5.37,Low,NaN,NaN,NaN,NaN,TUBB8

In [17]:
checkColumnValues(det, 'Amino_acids')
checkColumnValues(not2, 'Amino_acids')

   Amino_acids  Count
0      Lys/Asn  18004
1      Cys/Ser  12300
2      Lys/Glu   9002
3      Lys/Gln   9002
4      Lys/Thr   9002
5      Lys/Arg   9002
6      Cys/Tyr   6150
7      Cys/Arg   6150
8      Cys/Trp   6150
9      Cys/Phe   6150
10     Cys/Gly   6150
11     Lys/Met   5376
12     Lys/Ile   3626
   Amino_acids   Count
0      Lys/Asn  290084
1      Lys/Arg  145043
2      Lys/Thr  145043
3      Lys/Gln  145041
4      Lys/Glu  145041
5      Lys/Met   79247
6      Cys/Ser   69859
7      Lys/Ile   65796
8      Cys/Tyr   34930
9      Cys/Phe   34930
10     Cys/Trp   34929
11     Cys/Gly   34929
12     Cys/Arg   34929

In [18]:
notset = set(not2.xref.tolist())
detset = set(det.xref.tolist())
print(len(detset))
print(len(notset))

3880
3878

# TOTAL unique uniprot IDs: 
### 3880 in detected set of cys and lys positions 
### 3878 in non detected set of cys and lys positions

#### reasons i lost some uniprot IDS:
- mapping to hg19 may not have been posssible (missing values)
- started with IDs that had canonical ID match in proteome bed file
- only counted position if there was an exact match to the uniprot canonical id (no '-#' following ID)

In [72]:
checkColumnValues(det, 'xref')
checkColumnValues(not2, 'xref')

        xref  Count
0     Q09666    784
1     P21333    525
2     O75369    455
3     Q15149    406
4     P35579    392
5     P13639    301
6     Q9Y490    294
7     P07900    252
8     P49327    252
9     P00558    245
10    P14618    224
11    P07237    224
12    P31948    224
13    P10809    217
14    P08238    217
15    P02545    210
16    O43707    210
17    Q01813    203
18    P68104    203
19    Q14204    203
20    P11142    189
21    P06733    189
22    O75083    182
23    Q00610    175
24    O00410    175
25    P30101    175
26    Q99832    175
27    Q7Z6Z7    168
28    Q14247    168
29    Q96HE7    168
...      ...    ...
3850  Q9NR33      7
3851  Q969R8      7
3852  Q9NP77      7
3853  O14526      7
3854  Q96EK4      7
3855  Q8NFI3      7
3856  Q9Y2W2      7
3857  Q9Y3C1      7
3858  P05204      7
3859  Q07864      7
3860  Q14643      7
3861  Q9NRX4      7
3862  O14684      7
3863  Q8WUB8      7
3864  Q9Y5L4      7
3865  P20815      7
3866  P49336      7
3867  Q6DKK2      7
3868  Q9BQ24      7
3869  O43247      7
3870  Q9BUJ2      7
3871  Q8TAQ9      7
3872  Q9HAV0      7
3873  Q0VG06      7
3874  Q9UBC5      7
3875  Q9H169      7
3876  Q93100      7
3877  P31930      7
3878  Q5JSH3      7
3879  Q9UDY8      7

[3880 rows x 2 columns]
        xref  Count
0     Q8WZ42  24297
1     P20929   6160
2     Q09666   5068
3     Q8WXH0   4844
4     Q9UPN3   4368
5     Q4G0P3   3010
6     Q8IZT6   2940
7     Q9NU22   2898
8     Q5T4S7   2842
9     P46013   2793
10    Q8TE73   2737
11    Q03164   2695
12    Q6UB99   2485
13    P24043   2436
14    Q9NYC9   2436
15    P78527   2394
16    Q709C8   2359
17    P49792   2345
18    Q14789   2324
19    Q15751   2303
20    O15078   2233
21    Q8NFC6   2226
22    Q04721   2198
23    Q14204   2184
24    Q13315   2093
25    Q12830   2079
26    P46939   2065
27    Q13439   2065
28    P15924   2002
29    Q70CQ2   1974
...      ...    ...
3848  P60896     21
3849  Q969W3     21
3850  P22392     21
3851  P61604     21
3852  P62304     21
3853  P49458     21
3854  O60493     21
3855  Q9H773     21
3856  O75506     21
3857  Q9Y4Y9     21
3858  P07737     21
3859  Q15102     21
3860  Q9H840     14
3861  P98179     14
3862  P30046     14
3863  Q9GZT3     14
3864  P04792     14
3865  O43598     14
3866  A6ZKI3     14
3867  Q04837     14
3868  Q16626     14
3869  A1KXE4     14
3870  Q9BWJ5     14
3871  Q14657     14
3872  P61088     14
3873  Q0VGL1     14
3874  Q9H299     14
3875  Q9Y5U9      7
3876  Q9UI30      7
3877  Q6QNY0      7

[3878 rows x 2 columns]

In [19]:
det.sample(10)

,pos_id19,pos_id38,CADD_phred_hg38,xref,matched_target,CADD_phred_hg19,CADDdiff_38minus19,lost_amino,gained_amino,Amino_acids,pos_ID,Cys_reactivity,Cys_react_threshold,Cys_target_label,Lys_reactivity,Lys_react_threshold,Lys_target_label,geneNamePrimary
14280,12_032903691_C_A,12_032750757_C_A,24.1,Q9Y2Z4,K355,23.40,0.70,Lys,Asn,Lys/Asn,Q9Y2Z4_K355,NaN,NaN,NaN,5.6,Low,panReactive,YARS2
24030,15_029993867_A_T,15_029701663_A_T,23.3,Q07157,C1727,20.70,2.60,Cys,Ser,Cys/Ser,Q07157_C1727,NaN,NaN,panReactive,NaN,NaN,NaN,TJP1
68302,2_191769774_G_A,2_190905048_G_A,29.7,O94925,C287,32.00,-2.30,Cys,Tyr,Cys/Tyr,O94925_C287,NaN,NaN,panReactive,NaN,NaN,NaN,GLS
35592,17_075398531_A_T,17_077402449_A_T,25.0,Q9UHD8,K156,24.40,0.60,Lys,Ile,Lys/Ile,Q9UHD8_K156,NaN,NaN,NaN,NaN,NaN,panReactive,9-Sep
25816,15_072502084_G_C,15_072209743_G_C,27.1,P14618,C165,24.40,2.70,Cys,Trp,Cys/Trp,P14618_C165,NaN,NaN,panReactive,NaN,NaN,NaN,PKM
69839,2_231328841_T_A,2_230464126_T_A,17.2,P23497,C373,12.25,4.95,Cys,Ser,Cys/Ser,P23497_C373,NaN,NaN,panReactive,NaN,NaN,NaN,SP100
99745,9_116151764_T_A,9_113389484_T_A,28.8,P13716,K252,29.10,-0.30,Lys,Met,Lys/Met,P13716_K252,NaN,NaN,NaN,NaN,NaN,panReactive,ALAD
70357,2_242625246_C_A,2_241685831_C_A,21.6,P23919,K59,16.03,5.57,Lys,Asn,Lys/Asn,P23919_K59,NaN,NaN,NaN,1.8,High,panReactive,DTYMK
96568,8_144663264_T_C,8_143581094_T_C,22.0,P29692,K117,17.91,4.09,Lys,Arg,Lys/Arg,P29692_K117,NaN,NaN,NaN,9.7,Low,panReactive,EEF1D
54303,1_205688663_T_G,1_205719535_T_G,28.1,Q9H1E3,K175,28.80,-0.70,Lys,Thr,Lys/Thr,Q9H1E3_K175,NaN,NaN,NaN,9.5,Low,panReactive,NUCKS1

In [20]:
Knotdet = not2[not2['lost_amino'] == 'Lys']
Knotdet.reset_index(drop=True, inplace=True)

Cnotdet = not2[not2['lost_amino'] == 'Cys']
Cnotdet.reset_index(inplace=True,drop=True)

In [21]:
Kdet = det[det['lost_amino'] == 'Lys']
Kdet.reset_index(drop=True, inplace=True)

Cdet = det[det['lost_amino'] == 'Cys']
Cdet.reset_index(inplace=True,drop=True)

In [22]:
print(Kdet.shape)
print(Cdet.shape)
print(Knotdet.shape)
print(Cnotdet.shape)

(63014, 18)
(43050, 18)
(1015295, 12)
(244506, 12)

In [27]:
# dropping cys releated col from K and same for other set
Kdet_clean = Kdet[['pos_id19', 'pos_id38', 'CADD_phred_hg38', 'xref', 'matched_target',
       'CADD_phred_hg19', 'CADDdiff_38minus19', 'lost_amino', 'gained_amino',
       'Amino_acids', 'pos_ID', 'Lys_reactivity', 'Lys_react_threshold','Lys_target_label', 'geneNamePrimary']].copy()

In [29]:
Cdet_clean = Cdet[['pos_id19', 'pos_id38', 'CADD_phred_hg38', 'xref', 'matched_target',
       'CADD_phred_hg19', 'CADDdiff_38minus19', 'lost_amino', 'gained_amino',
       'Amino_acids', 'pos_ID', 'Cys_reactivity', 'Cys_react_threshold','Cys_target_label', 'geneNamePrimary']].copy()

In [83]:
print(Kdet_clean.shape)
print(Cdet_clean.shape)
print(Knotdet.shape)
print(Cnotdet.shape)

(63014, 15)
(43050, 15)
(1015295, 12)
(244506, 12)

# cleaning CK specific files-
- adding assembly column (double in length)
- group labels are helpful for parsing out later

In [82]:
# spliting dataframe and adding columns for assembly version of cadd score then recombine files
def assemblyGrouper(df, CK):
    if CK == 'C':       
        test2 = df[['pos_id19', 'pos_id38', 'xref', 'matched_target', 'lost_amino', 'gained_amino',
       'Amino_acids', 'pos_ID', 'Cys_reactivity', 'Cys_react_threshold',
       'Cys_target_label', 'geneNamePrimary']].copy()
        test3 = test2.copy()
        test2['CADD_score'] = df['CADD_phred_hg19'].copy()
        test2['assembly'] = 'hg19'
        test3['CADD_score'] = df['CADD_phred_hg38'].copy()
        test3['assembly'] = 'hg38'
        test4 = pd.concat([test2,test3])
        test4.reset_index(inplace=True,drop=True)
        print("combined shape : ", test4.shape)
        print("copy shapes : ", test2.shape, test3.shape)
        return test4
        
    if CK == 'K':
        test2 = df[['pos_id19', 'pos_id38', 'xref', 'matched_target', 'lost_amino', 'gained_amino',
       'Amino_acids', 'pos_ID', 'Lys_reactivity', 'Lys_react_threshold','Lys_target_label','geneNamePrimary']].copy()
        test3 = test2.copy()
        test2['CADD_score'] = df['CADD_phred_hg19'].copy()
        test2['assembly'] = 'hg19'
        test3['CADD_score'] = df['CADD_phred_hg38'].copy()
        test3['assembly'] = 'hg38'   
        test4 = pd.concat([test2,test3])
        test4.reset_index(inplace=True,drop=True)
        print("combined shape : ", test4.shape)
        print("copy shapes : ", test2.shape, test3.shape)
        return test4
    
    if CK == 'N':
        test2 = df[['pos_id19', 'pos_id38', 'xref', 'matched_target','lost_amino', 'gained_amino',
       'Amino_acids', 'pos_ID_falseCKtarget', 'geneNamePrimary']].copy()
        test3 = test2.copy()
        test2['CADD_score'] = df['CADD_phred_hg19'].copy()
        test2['assembly'] = 'hg19'
        test3['CADD_score'] = df['CADD_phred_hg38'].copy()
        test3['assembly'] = 'hg38'   
        test4 = pd.concat([test2,test3])
        test4.reset_index(inplace=True,drop=True)
        print("combined shape : ", test4.shape)
        print("copy shapes : ", test2.shape, test3.shape)
        return test4

In [84]:
# doubling file size by creating single column for CADD score with additional assembly column to identity version of score
Kdet_assem = assemblyGrouper(Kdet_clean, "K")
Cdet_assem = assemblyGrouper(Cdet_clean, "C")

combined shape :  (126028, 14)
copy shapes :  (63014, 14) (63014, 14)
combined shape :  (86100, 14)
copy shapes :  (43050, 14) (43050, 14)

In [85]:
Knot_assem = assemblyGrouper(Knotdet, "N")
Cnot_assem = assemblyGrouper(Cnotdet, "N")

combined shape :  (2030590, 11)
copy shapes :  (1015295, 11) (1015295, 11)
combined shape :  (489012, 11)
copy shapes :  (244506, 11) (244506, 11)

In [96]:
Knot_assem.to_csv("CADDspecific_K_notdetected_1015295x2rows.csv",index=False)
Cnot_assem.to_csv("CADDspecific_C_notdetected_244506x2rows.csv",index=False)

Kdet_assem.to_csv("CADDspecific_K_detected_63014x2rows.csv",index=False)
Cdet_assem.to_csv("CADDspecific_C_detected_43050x2rows.csv",index=False)

In [93]:
Kdet_assem.sample(3)

,pos_id19,pos_id38,xref,matched_target,lost_amino,gained_amino,Amino_acids,pos_ID,Lys_reactivity,Lys_react_threshold,Lys_target_label,geneNamePrimary,CADD_score,assembly
86888,19_008548063_A_T,19_008483179_A_T,P52272,K381,Lys,Met,Lys/Met,P52272_K381,10.0,Low,panReactive,HNRNPM,22.9,hg38
88450,19_039191658_G_C,19_038701018_G_C,O43707,K98,Lys,Asn,Lys/Asn,O43707_K98,NaN,NaN,panReactive,ACTN4,28.5,hg38
115681,7_000927020_A_T,7_000887383_A_T,Q7L5D6,K110,Lys,Asn,Lys/Asn,Q7L5D6_K110,10.0,Low,panReactive,GET4,22.0,hg38

In [94]:
Cdet_assem.sample(3)

,pos_id19,pos_id38,xref,matched_target,lost_amino,gained_amino,Amino_acids,pos_ID,Cys_reactivity,Cys_react_threshold,Cys_target_label,geneNamePrimary,CADD_score,assembly
49188,12_072148996_C_G,12_071755216_C_G,Q9UL25,C29,Cys,Trp,Cys/Trp,Q9UL25_C29,NaN,NaN,panReactive,RAB21,32.0,hg38
67641,22_041664155_G_C,22_041268151_G_C,P46060,C82,Cys,Trp,Cys/Trp,P46060_C82,NaN,NaN,panReactive,RANGAP1,28.8,hg38
69456,2_096933133_T_G,2_096267395_T_G,O76071,C72,Cys,Gly,Cys/Gly,O76071_C72,NaN,NaN,panReactive,CIAO1,27.0,hg38

In [95]:
Knot_assem.sample(3)

,pos_id19,pos_id38,xref,matched_target,lost_amino,gained_amino,Amino_acids,pos_ID_falseCKtarget,geneNamePrimary,CADD_score,assembly
1347581,17_038976834_T_C,17_040820582_T_C,P13645,False,Lys,Glu,Lys/Glu,P13645_K266,KRT10,28.80,hg38
1144333,12_046322141_T_A,12_045928358_T_A,Q99590,False,Lys,Ile,Lys/Ile,Q99590_K448,SCAF11,17.32,hg38
140385,12_057940833_T_A,12_057547050_T_A,Q13561,False,Lys,Ile,Lys/Ile,Q13561_K5,DCTN2,29.80,hg19

In [92]:
Cnot_assem.sample(3)

,pos_id19,pos_id38,xref,matched_target,lost_amino,gained_amino,Amino_acids,pos_ID_falseCKtarget,geneNamePrimary,CADD_score,assembly
74876,17_027024732_G_C,17_028697714_G_C,Q7KZ85,False,Cys,Ser,Cys/Ser,Q7KZ85_C1435,SUPT6H,23.0,hg19
212993,7_077236559_T_C,7_077607242_T_C,Q05209,False,Cys,Arg,Cys/Arg,Q05209_C235,PTPN12,29.8,hg19
90652,19_001081699_T_G,19_001081700_T_G,Q92619,False,Cys,Gly,Cys/Gly,Q92619_C781,ARHGAP45,28.3,hg19

# for non CADD specific change figures, groupby CK positions and either take 1) mean score at codon || 2) take max score

In [98]:
print(Cdet.columns)
print()
print(Cnotdet.columns)

Index(['pos_id19', 'pos_id38', 'CADD_phred_hg38', 'xref', 'matched_target',
       'CADD_phred_hg19', 'CADDdiff_38minus19', 'lost_amino', 'gained_amino',
       'Amino_acids', 'pos_ID', 'Cys_reactivity', 'Cys_react_threshold',
       'Cys_target_label', 'Lys_reactivity', 'Lys_react_threshold',
       'Lys_target_label', 'geneNamePrimary'],
      dtype='object')

Index(['pos_id19', 'pos_id38', 'CADD_phred_hg38', 'xref', 'matched_target',
       'CADD_phred_hg19', 'CADDdiff_38minus19', 'lost_amino', 'gained_amino',
       'Amino_acids', 'pos_ID_falseCKtarget', 'geneNamePrimary'],
      dtype='object')

In [99]:
# simplify to only columns that are 1 to 1 for pos_id | falseTarget_ID, EXCEPT THE CADD SCORE COLUMNS
Cdet_mean = Cdet[['CADD_phred_hg38', 'CADD_phred_hg19','pos_ID','Cys_reactivity','Cys_react_threshold','Cys_target_label','geneNamePrimary']]
Kdet_mean = Kdet[['CADD_phred_hg38', 'CADD_phred_hg19','pos_ID','Lys_reactivity','Lys_react_threshold','Lys_target_label','geneNamePrimary']]

Cnotdet_mean = Cnotdet[['CADD_phred_hg38','CADD_phred_hg19','pos_ID_falseCKtarget','geneNamePrimary']]
Knotdet_mean = Knotdet[['CADD_phred_hg38','CADD_phred_hg19','pos_ID_falseCKtarget','geneNamePrimary']]

In [100]:
Cdet_mean.head(3)

,CADD_phred_hg38,CADD_phred_hg19,pos_ID,Cys_reactivity,Cys_react_threshold,Cys_target_label,geneNamePrimary
0,22.6,22.30,Q3ZCM7_C354,5.37,Low,NaN,TUBB8
1,22.6,21.80,Q3ZCM7_C354,5.37,Low,NaN,TUBB8
2,22.4,19.67,Q3ZCM7_C354,5.37,Low,NaN,TUBB8

In [101]:
Cnotdet_mean.head(3)

   CADD_phred_hg38  CADD_phred_hg19 pos_ID_falseCKtarget geneNamePrimary
0             23.1            22.10          Q3ZCM7_C211           TUBB8
1             21.8            21.40          Q3ZCM7_C211           TUBB8
2             20.9            17.82          Q3ZCM7_C211           TUBB8

In [102]:
# grouping detected datasets
Cd38  = Cdet_mean.groupby('pos_ID')['CADD_phred_hg38'].apply(list) 
Cd19 = Cdet_mean.groupby('pos_ID')['CADD_phred_hg19'].apply(list) 

Kd38  = Kdet_mean.groupby('pos_ID')['CADD_phred_hg38'].apply(list) 
Kd19 = Kdet_mean.groupby('pos_ID')['CADD_phred_hg19'].apply(list) 

# grouping not detected datasets
C38  = Cnotdet_mean.groupby('pos_ID_falseCKtarget')['CADD_phred_hg38'].apply(list) 
C19 = Cnotdet_mean.groupby('pos_ID_falseCKtarget')['CADD_phred_hg19'].apply(list) 

K38  = Knotdet_mean.groupby('pos_ID_falseCKtarget')['CADD_phred_hg38'].apply(list) 
K19 = Knotdet_mean.groupby('pos_ID_falseCKtarget')['CADD_phred_hg19'].apply(list)

In [103]:
Cd38.head(3)

pos_ID
A0AVT1_C347        [23.7, 22.4, 19.43, 21.0, 22.0, 22.5, 21.6]
A0AVT1_C433    [23.2, 18.98, 15.86, 21.2, 19.31, 19.04, 16.96]
A0AVT1_C546         [24.4, 25.2, 21.8, 23.4, 21.6, 23.9, 21.6]
Name: CADD_phred_hg38, dtype: object

In [104]:
Cd19.head(3)

pos_ID
A0AVT1_C347          [23.3, 23.5, 19.79, 22.4, 22.7, 23.5, 22.7]
A0AVT1_C433    [22.6, 16.92, 13.87, 20.2, 10.16, 10.55, 7.787...
A0AVT1_C546           [25.9, 28.3, 22.5, 24.8, 21.9, 25.1, 22.4]
Name: CADD_phred_hg19, dtype: object

In [105]:
Cdet_avg = pd.concat([Cd38, Cd19], axis=1)
Kdet_avg = pd.concat([Kd38, Kd19], axis=1)

Cnot_avg = pd.concat([C38, C19], axis=1)
Knot_avg = pd.concat([K38, K19], axis=1)

In [110]:
Cdet_avg.head(3)

,CADD_phred_hg38,CADD_phred_hg19
pos_ID,,
A0AVT1_C347,"[23.7, 22.4, 19.43, 21.0, 22.0, 22.5, 21.6]","[23.3, 23.5, 19.79, 22.4, 22.7, 23.5, 22.7]"
A0AVT1_C433,"[23.2, 18.98, 15.86, 21.2, 19.31, 19.04, 16.96]","[22.6, 16.92, 13.87, 20.2, 10.16, 10.55, 7.787..."
A0AVT1_C546,"[24.4, 25.2, 21.8, 23.4, 21.6, 23.9, 21.6]","[25.9, 28.3, 22.5, 24.8, 21.9, 25.1, 22.4]"

In [111]:
# MEAN

# hg19 avg detected
Cdet_avg['hg19_pos_avg'] = Cdet_avg['CADD_phred_hg19'].apply(lambda x: mean(x))
Kdet_avg['hg19_pos_avg'] = Kdet_avg['CADD_phred_hg19'].apply(lambda x: mean(x))
# hg38 avg detected
Cdet_avg['hg38_pos_avg'] = Cdet_avg['CADD_phred_hg38'].apply(lambda x: mean(x))
Kdet_avg['hg38_pos_avg'] = Kdet_avg['CADD_phred_hg38'].apply(lambda x: mean(x))

# hg19 avg not detected
Cnot_avg['hg19_pos_avg'] = Cnot_avg['CADD_phred_hg19'].apply(lambda x: mean(x))
Knot_avg['hg19_pos_avg'] = Knot_avg['CADD_phred_hg19'].apply(lambda x: mean(x))
# hg38 avg not detected
Cnot_avg['hg38_pos_avg'] = Cnot_avg['CADD_phred_hg38'].apply(lambda x: mean(x))
Knot_avg['hg38_pos_avg'] = Knot_avg['CADD_phred_hg38'].apply(lambda x: mean(x))

In [112]:
# MAX

# hg19 max detected
Cdet_avg['hg19_pos_max'] = Cdet_avg['CADD_phred_hg19'].apply(lambda x: max(x))
Kdet_avg['hg19_pos_max'] = Kdet_avg['CADD_phred_hg19'].apply(lambda x: max(x))
# hg38 max detected
Cdet_avg['hg38_pos_max'] = Cdet_avg['CADD_phred_hg38'].apply(lambda x: max(x))
Kdet_avg['hg38_pos_max'] = Kdet_avg['CADD_phred_hg38'].apply(lambda x: max(x))

# hg19 max not detected
Cnot_avg['hg19_pos_max'] = Cnot_avg['CADD_phred_hg19'].apply(lambda x: max(x))
Knot_avg['hg19_pos_max'] = Knot_avg['CADD_phred_hg19'].apply(lambda x: max(x))
# hg38 max not detected
Cnot_avg['hg38_pos_max'] = Cnot_avg['CADD_phred_hg38'].apply(lambda x: max(x))
Knot_avg['hg38_pos_max'] = Knot_avg['CADD_phred_hg38'].apply(lambda x: max(x))

In [113]:
Cdet_avg.head(5)

,CADD_phred_hg38,CADD_phred_hg19,hg19_pos_avg,hg38_pos_avg,hg19_pos_max,hg38_pos_max
pos_ID,,,,,,
A0AVT1_C347,"[23.7, 22.4, 19.43, 21.0, 22.0, 22.5, 21.6]","[23.3, 23.5, 19.79, 22.4, 22.7, 23.5, 22.7]",22.555714,21.804286,23.5,23.7
A0AVT1_C433,"[23.2, 18.98, 15.86, 21.2, 19.31, 19.04, 16.96]","[22.6, 16.92, 13.87, 20.2, 10.16, 10.55, 7.787...",14.584000,19.221429,22.6,23.2
A0AVT1_C546,"[24.4, 25.2, 21.8, 23.4, 21.6, 23.9, 21.6]","[25.9, 28.3, 22.5, 24.8, 21.9, 25.1, 22.4]",24.414286,23.128571,28.3,25.2
A0AVT1_C625,"[27.1, 27.3, 26.5, 26.9, 29.4, 29.8, 28.2]","[26.9, 32.0, 28.4, 31.0, 28.1, 29.7, 27.8]",29.128571,27.885714,32.0,29.8
A0AVT1_C721,"[24.6, 26.3, 23.2, 26.1, 23.6, 25.6, 22.8]","[25.2, 24.9, 22.1, 24.7, 23.1, 24.9, 22.4]",23.900000,24.600000,25.2,26.3

In [114]:
Kdet_avg.head(5)

,CADD_phred_hg38,CADD_phred_hg19,hg19_pos_avg,hg38_pos_avg,hg19_pos_max,hg38_pos_max
pos_ID,,,,,,
A0AVT1_K1014,"[23.4, 23.5, 32.0, 26.0, 23.7, 23.2, 24.2]","[23.3, 23.3, 32.0, 25.4, 23.5, 23.7, 25.0]",25.171429,25.142857,32.0,32.0
A0AVT1_K409,"[23.8, 23.9, 29.2, 27.9, 28.0, 26.1, 25.7]","[23.7, 23.7, 26.3, 25.4, 25.5, 27.6, 27.0]",25.600000,26.371429,27.6,29.2
A0AVT1_K544,"[25.3, 25.4, 25.4, 22.6, 24.8, 27.5, 26.9]","[25.9, 25.9, 25.5, 22.4, 24.9, 28.0, 27.3]",25.700000,25.414286,28.0,27.5
A0AVT1_K86,"[23.4, 23.5, 25.2, 23.0, 24.7, 24.9, 24.5]","[29.5, 29.4, 33.0, 26.1, 33.0, 31.0, 32.0]",30.571429,24.171429,33.0,25.2
A0AVT1_K963,"[21.8, 21.9, 24.9, 22.6, 22.6, 21.7, 22.0]","[22.4, 22.4, 25.7, 22.9, 22.9, 22.0, 22.6]",22.985714,22.500000,25.7,24.9

In [115]:
Cnot_avg.head(5)

,CADD_phred_hg38,CADD_phred_hg19,hg19_pos_avg,hg38_pos_avg,hg19_pos_max,hg38_pos_max
pos_ID_falseCKtarget,,,,,,
A0AVT1_C156,"[26.2, 26.2, 25.6, 25.9, 27.7, 28.1, 26.8]","[32.0, 34.0, 33.0, 34.0, 32.0, 33.0, 32.0]",32.857143,26.642857,34.00,28.10
A0AVT1_C17,"[23.3, 23.9, 22.3, 23.8, 23.1, 24.7, 22.7]","[24.4, 26.6, 23.4, 26.2, 23.5, 25.9, 23.3]",24.757143,23.400000,26.60,24.70
A0AVT1_C174,"[25.1, 25.7, 25.2, 25.5, 27.0, 27.3, 26.2]","[24.9, 28.6, 26.7, 28.0, 26.6, 27.6, 26.4]",26.971429,26.000000,28.60,27.30
A0AVT1_C178,"[19.55, 18.09, 15.57, 17.31, 17.07, 18.41, 16.29]","[18.24, 16.62, 14.05, 16.03, 15.47, 16.97, 15.45]",16.118571,17.470000,18.24,19.55
A0AVT1_C197,"[29.2, 26.3, 25.5, 26.0, 27.4, 28.0, 26.5]","[29.9, 28.2, 26.2, 27.6, 26.1, 27.2, 25.9]",27.300000,26.985714,29.90,29.20

In [116]:
Knot_avg.head(5)

,CADD_phred_hg38,CADD_phred_hg19,hg19_pos_avg,hg38_pos_avg,hg19_pos_max,hg38_pos_max
pos_ID_falseCKtarget,,,,,,
A0AVT1_K1003,"[26.7, 26.9, 33.0, 27.1, 29.7, 24.6, 25.2]","[29.8, 29.8, 34.0, 27.0, 32.0, 25.8, 27.0]",29.342857,27.600000,34.0,33.0
A0AVT1_K1006,"[21.8, 21.9, 32.0, 25.8, 23.7, 22.8, 22.7]","[19.07, 18.98, 33.0, 26.3, 24.0, 23.7, 23.6]",24.092857,24.385714,33.0,32.0
A0AVT1_K1011,"[23.4, 23.5, 31.0, 25.8, 28.4, 22.3, 26.4]","[23.6, 23.6, 30.0, 25.1, 27.4, 22.4, 27.7]",25.685714,25.828571,30.0,31.0
A0AVT1_K1019,"[23.7, 23.7, 26.3, 22.3, 22.7, 23.5, 22.3]","[23.6, 23.6, 27.0, 22.2, 22.9, 24.0, 22.6]",23.700000,23.500000,27.0,26.3
A0AVT1_K1020,"[24.3, 24.4, 24.9, 22.1, 23.0, 23.2, 24.1]","[22.5, 22.5, 25.5, 22.1, 23.3, 23.0, 24.0]",23.271429,23.714286,25.5,24.9

In [117]:
Kdet.head(2)

,pos_id19,pos_id38,CADD_phred_hg38,xref,matched_target,CADD_phred_hg19,CADDdiff_38minus19,lost_amino,gained_amino,Amino_acids,pos_ID,Cys_reactivity,Cys_react_threshold,Cys_target_label,Lys_reactivity,Lys_react_threshold,Lys_target_label,geneNamePrimary
0,10_001046806_A_C,10_001000866_A_C,28.1,Q9BZE4,K282,33.0,-4.9,Lys,Gln,Lys/Gln,Q9BZE4_K282,NaN,NaN,NaN,1.2,High,NaN,GTPBP4
1,10_001046806_A_G,10_001000866_A_G,28.8,Q9BZE4,K282,33.0,-4.2,Lys,Glu,Lys/Glu,Q9BZE4_K282,NaN,NaN,NaN,1.2,High,NaN,GTPBP4

In [118]:
# drop redundannt columns
Kd = Kdet[['xref','pos_ID', 'Lys_reactivity','Lys_react_threshold', 'Lys_target_label', 
           'geneNamePrimary']].copy()
Kd.drop_duplicates(keep='first',inplace=True)
Kd.set_index('pos_ID',inplace=True)

Cd = Cdet[['xref','pos_ID','Cys_reactivity', 'Cys_react_threshold', 'Cys_target_label',
           'geneNamePrimary']].copy()
Cd.drop_duplicates(keep='first',inplace=True)
Cd.set_index('pos_ID',inplace=True)

# non detected columns
Kn = Knotdet [['xref','pos_ID_falseCKtarget','geneNamePrimary']].copy()
Kn.drop_duplicates(keep='first',inplace=True)
Kn.set_index('pos_ID_falseCKtarget',inplace=True)

Cn = Cnotdet[['xref','pos_ID_falseCKtarget','geneNamePrimary']].copy()
Cn.drop_duplicates(keep='first',inplace=True)
Cn.set_index('pos_ID_falseCKtarget',inplace=True)

In [123]:
print(Kd.shape)
print(Cd.shape)
print(Kn.shape)
print(Cn.shape)

(9002, 5)
(6150, 5)
(145027, 2)
(34930, 2)

In [124]:
Cd.head(3)

,xref,Cys_reactivity,Cys_react_threshold,Cys_target_label,geneNamePrimary
pos_ID,,,,,
Q3ZCM7_C354,Q3ZCM7,5.37,Low,NaN,TUBB8
Q3ZCM7_C303,Q3ZCM7,5.36,Low,NaN,TUBB8
Q3ZCM7_C239,Q3ZCM7,4.41,Medium,NaN,TUBB8

In [125]:
Cn.head(3)

                        xref geneNamePrimary
pos_ID_falseCKtarget
Q3ZCM7_C211           Q3ZCM7           TUBB8
Q3ZCM7_C201           Q3ZCM7           TUBB8
Q3ZCM7_C129           Q3ZCM7           TUBB8

In [129]:
Cdet_final = pd.concat([Cdet_avg, Cd], axis=1, sort=True)

Kdet_final = pd.concat([Kdet_avg, Kd], axis=1, sort=True)

Cnot_final = pd.concat([Cnot_avg, Cn], axis=1, sort=True)

Knot_final = pd.concat([Knot_avg, Kn], axis=1, sort=True)

In [130]:
Cdet_final.reset_index(inplace=True)
Kdet_final.reset_index(inplace=True)
Cnot_final.reset_index(inplace=True)
Knot_final.reset_index(inplace=True)

In [131]:
Cdet_final.head(3)

,index,CADD_phred_hg38,CADD_phred_hg19,hg19_pos_avg,hg38_pos_avg,hg19_pos_max,hg38_pos_max,xref,Cys_reactivity,Cys_react_threshold,Cys_target_label,geneNamePrimary
0,A0AVT1_C347,"[23.7, 22.4, 19.43, 21.0, 22.0, 22.5, 21.6]","[23.3, 23.5, 19.79, 22.4, 22.7, 23.5, 22.7]",22.555714,21.804286,23.5,23.7,A0AVT1,2.08,Medium,Target,UBA6
1,A0AVT1_C433,"[23.2, 18.98, 15.86, 21.2, 19.31, 19.04, 16.96]","[22.6, 16.92, 13.87, 20.2, 10.16, 10.55, 7.787...",14.584000,19.221429,22.6,23.2,A0AVT1,4.26,Medium,panReactive,UBA6
2,A0AVT1_C546,"[24.4, 25.2, 21.8, 23.4, 21.6, 23.9, 21.6]","[25.9, 28.3, 22.5, 24.8, 21.9, 25.1, 22.4]",24.414286,23.128571,28.3,25.2,A0AVT1,NaN,NaN,panReactive,UBA6

In [132]:
Kdet_final.head(3)

,index,CADD_phred_hg38,CADD_phred_hg19,hg19_pos_avg,hg38_pos_avg,hg19_pos_max,hg38_pos_max,xref,Lys_reactivity,Lys_react_threshold,Lys_target_label,geneNamePrimary
0,A0AVT1_K1014,"[23.4, 23.5, 32.0, 26.0, 23.7, 23.2, 24.2]","[23.3, 23.3, 32.0, 25.4, 23.5, 23.7, 25.0]",25.171429,25.142857,32.0,32.0,A0AVT1,NaN,NaN,panReactive,UBA6
1,A0AVT1_K409,"[23.8, 23.9, 29.2, 27.9, 28.0, 26.1, 25.7]","[23.7, 23.7, 26.3, 25.4, 25.5, 27.6, 27.0]",25.600000,26.371429,27.6,29.2,A0AVT1,NaN,NaN,Target,UBA6
2,A0AVT1_K544,"[25.3, 25.4, 25.4, 22.6, 24.8, 27.5, 26.9]","[25.9, 25.9, 25.5, 22.4, 24.9, 28.0, 27.3]",25.700000,25.414286,28.0,27.5,A0AVT1,NaN,NaN,panReactive,UBA6

In [133]:
Cnot_final.head(3)

,index,CADD_phred_hg38,CADD_phred_hg19,hg19_pos_avg,hg38_pos_avg,hg19_pos_max,hg38_pos_max,xref,geneNamePrimary
0,A0AVT1_C156,"[26.2, 26.2, 25.6, 25.9, 27.7, 28.1, 26.8]","[32.0, 34.0, 33.0, 34.0, 32.0, 33.0, 32.0]",32.857143,26.642857,34.0,28.1,A0AVT1,UBA6
1,A0AVT1_C17,"[23.3, 23.9, 22.3, 23.8, 23.1, 24.7, 22.7]","[24.4, 26.6, 23.4, 26.2, 23.5, 25.9, 23.3]",24.757143,23.400000,26.6,24.7,A0AVT1,UBA6
2,A0AVT1_C174,"[25.1, 25.7, 25.2, 25.5, 27.0, 27.3, 26.2]","[24.9, 28.6, 26.7, 28.0, 26.6, 27.6, 26.4]",26.971429,26.000000,28.6,27.3,A0AVT1,UBA6

In [134]:
Knot_final.head(3)

,index,CADD_phred_hg38,CADD_phred_hg19,hg19_pos_avg,hg38_pos_avg,hg19_pos_max,hg38_pos_max,xref,geneNamePrimary
0,A0AVT1_K1003,"[26.7, 26.9, 33.0, 27.1, 29.7, 24.6, 25.2]","[29.8, 29.8, 34.0, 27.0, 32.0, 25.8, 27.0]",29.342857,27.600000,34.0,33.0,A0AVT1,UBA6
1,A0AVT1_K1006,"[21.8, 21.9, 32.0, 25.8, 23.7, 22.8, 22.7]","[19.07, 18.98, 33.0, 26.3, 24.0, 23.7, 23.6]",24.092857,24.385714,33.0,32.0,A0AVT1,UBA6
2,A0AVT1_K1011,"[23.4, 23.5, 31.0, 25.8, 28.4, 22.3, 26.4]","[23.6, 23.6, 30.0, 25.1, 27.4, 22.4, 27.7]",25.685714,25.828571,30.0,31.0,A0AVT1,UBA6

In [135]:
print(Cdet_final.columns)
print(Kdet_final.columns)
print()
print(Cnot_final.columns)
print(Knot_final.columns)

Index(['index', 'CADD_phred_hg38', 'CADD_phred_hg19', 'hg19_pos_avg',
       'hg38_pos_avg', 'hg19_pos_max', 'hg38_pos_max', 'xref',
       'Cys_reactivity', 'Cys_react_threshold', 'Cys_target_label',
       'geneNamePrimary'],
      dtype='object')
Index(['index', 'CADD_phred_hg38', 'CADD_phred_hg19', 'hg19_pos_avg',
       'hg38_pos_avg', 'hg19_pos_max', 'hg38_pos_max', 'xref',
       'Lys_reactivity', 'Lys_react_threshold', 'Lys_target_label',
       'geneNamePrimary'],
      dtype='object')

Index(['index', 'CADD_phred_hg38', 'CADD_phred_hg19', 'hg19_pos_avg',
       'hg38_pos_avg', 'hg19_pos_max', 'hg38_pos_max', 'xref',
       'geneNamePrimary'],
      dtype='object')
Index(['index', 'CADD_phred_hg38', 'CADD_phred_hg19', 'hg19_pos_avg',
       'hg38_pos_avg', 'hg19_pos_max', 'hg38_pos_max', 'xref',
       'geneNamePrimary'],
      dtype='object')

In [136]:
# spliting dataframe and adding columns for assembly version of cadd score then recombine files
def assemblyGrouper(df, CK):
    if CK == 'C':       
        test2 = df[['index', 'xref','Cys_reactivity', 'Cys_react_threshold', 'Cys_target_label','geneNamePrimary']].copy()
        test3 = test2.copy()
        test2['CADD_avg'] = df['hg19_pos_avg'].copy()
        test2['CADD_max'] = df['hg19_pos_max'].copy()
        test2['assembly'] = 'hg19'
        test3['CADD_avg'] = df['hg38_pos_avg'].copy()
        test3['CADD_max'] = df['hg38_pos_max'].copy()
        test3['assembly'] = 'hg38'
        test4 = pd.concat([test2,test3])
        test4.reset_index(inplace=True,drop=True)
        print("combined shape : ", test4.shape)
        print("copy shapes : ", test2.shape, test3.shape)
        return test4
        
    if CK == 'K':
        test2 = df[['index','xref','Lys_reactivity', 'Lys_react_threshold', 'Lys_target_label','geneNamePrimary']].copy()
        test3 = test2.copy()
        test2['CADD_avg'] = df['hg19_pos_avg'].copy()
        test2['CADD_max'] = df['hg19_pos_max'].copy()
        test2['assembly'] = 'hg19'
        test3['CADD_avg'] = df['hg38_pos_avg'].copy()
        test3['CADD_max'] = df['hg38_pos_max'].copy()
        test3['assembly'] = 'hg38'
        test4 = pd.concat([test2,test3])
        test4.reset_index(inplace=True,drop=True)
        print("combined shape : ", test4.shape)
        print("copy shapes : ", test2.shape, test3.shape)
        return test4
    
    if CK == 'N':
        test2 = df[['index','xref','geneNamePrimary']].copy()
        test3 = test2.copy()
        test2['CADD_avg'] = df['hg19_pos_avg'].copy()
        test2['CADD_max'] = df['hg19_pos_max'].copy()
        test2['assembly'] = 'hg19'
        test3['CADD_avg'] = df['hg38_pos_avg'].copy()
        test3['CADD_max'] = df['hg38_pos_max'].copy()
        test3['assembly'] = 'hg38'
        test4 = pd.concat([test2,test3])
        test4.reset_index(inplace=True,drop=True)
        print("combined shape : ", test4.shape)
        print("copy shapes : ", test2.shape, test3.shape)
        return test4

In [137]:
CCd = assemblyGrouper(Cdet_final, 'C')
KKd = assemblyGrouper(Kdet_final, 'K')

CCn = assemblyGrouper(Cnot_final, 'N')
KKn = assemblyGrouper(Knot_final, 'N')

combined shape :  (12300, 9)
copy shapes :  (6150, 9) (6150, 9)
combined shape :  (18004, 9)
copy shapes :  (9002, 9) (9002, 9)
combined shape :  (69860, 6)
copy shapes :  (34930, 6) (34930, 6)
combined shape :  (290054, 6)
copy shapes :  (145027, 6) (145027, 6)

In [146]:
CCd.to_csv("POSspecific_C_detected_maxmean_6150x2pos.csv",index=False)

KKd.to_csv("POSspecific_K_detected_maxmean_9002x2pos.csv",index=False)

CCn.to_csv("POSspecific_C_notdetected_maxmean_34930x2pos.csv",index=False)

KKn.to_csv("POSspecific_K_notdetected_maxmean_145027x2pos.csv",index=False)

In [142]:
CCd.sample(4)

,index,xref,Cys_reactivity,Cys_react_threshold,Cys_target_label,geneNamePrimary,CADD_avg,CADD_max,assembly
1999,P42765_C128,P42765,NaN,NaN,panReactive,ACAA2,12.805286,17.18,hg19
5397,Q9NP64_C52,Q9NP64,NaN,NaN,panReactive,ZCCHC17,24.800000,28.40,hg19
6672,O75534_C506,O75534,10.1,Low,panReactive,CSDE1,25.500000,27.80,hg38
3852,Q5VUJ6_C256,Q5VUJ6,NaN,NaN,panReactive,LRCH2,26.257143,27.10,hg19

In [143]:
KKd.sample(4)

,index,xref,Lys_reactivity,Lys_react_threshold,Lys_target_label,geneNamePrimary,CADD_avg,CADD_max,assembly
15054,Q14164_K38,Q14164,NaN,NaN,panReactive,IKBKE,26.671429,27.9,hg38
987,P00558_K156,P00558,10.0,Low,panReactive,PGK1,24.200000,28.1,hg19
5812,Q13177_K38,Q13177,6.9,Low,NaN,PAK2,24.671429,26.6,hg19
13401,P55010_K95,P55010,4.5,Medium,panReactive,EIF5,24.928571,26.7,hg38

In [144]:
CCn.sample(4)

             index    xref geneNamePrimary   CADD_avg  CADD_max assembly
69789  Q9Y6L7_C426  Q9Y6L7            TLL2  25.300000      27.6     hg38
61694  Q96T76_C286  Q96T76           MMS19  26.542857      29.4     hg38
7898    P40429_C38  P40429          RPL13A  24.571429      26.8     hg19
16017  Q2TB90_C217  Q2TB90           HKDC1  26.128571      27.7     hg19

In [145]:
KKn.sample(4)

              index    xref geneNamePrimary   CADD_avg  CADD_max assembly
26668   P20585_K577  P20585            MSH3  25.100000      26.8     hg19
154652  O60832_K117  O60832            DKC1  27.185714      29.3     hg38
79649   Q6S8J3_K409  Q6S8J3           POTEE  10.119571      14.0     hg19
200115  Q12857_K324  Q12857            NFIA  26.685714      28.9     hg38

In [147]:
CCd.describe()

       Cys_reactivity      CADD_avg      CADD_max
count     2928.000000  12300.000000  12300.000000
mean         5.927124     23.910738     26.942475
std          3.161239      5.505448      5.080991
min          0.740000      0.063857      0.396000
25%          4.320000     22.056786     23.800000
50%          5.575000     24.800000     27.100000
75%          6.830000     27.600000     31.000000
max         20.000000     34.714286     59.000000

In [148]:
KKd.describe()

       Lys_reactivity      CADD_avg      CADD_max
count     8904.000000  18004.000000  18004.000000
mean         7.922686     25.233758     28.324264
std          3.004843      3.381144      3.810648
min          0.100000      0.019143      0.059000
25%          5.800000     23.485714     25.600000
50%         10.000000     25.342857     28.400000
75%         10.000000     27.271429     32.000000
max         10.000000     34.714286     40.000000

In [149]:
CCn.describe()

           CADD_avg      CADD_max
count  69860.000000  69860.000000
mean      25.080603     27.834518
std        4.978363      4.690423
min        0.036429      0.116000
25%       23.385714     25.100000
50%       26.000000     28.300000
75%       28.214286     32.000000
max       35.000000     53.000000

In [150]:
KKn.describe()

            CADD_avg       CADD_max
count  290054.000000  290054.000000
mean       24.043610      26.881808
std         4.110057       4.233520
min         0.022286       0.070000
25%        22.600000      24.300000
50%        24.457143      26.900000
75%        26.485714      29.600000
max        36.285714      57.000000